<Html href> 
    <Head>  
        <link rel="stylesheet" href="css/style.css">   
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    </Head> 

    <Body>  

        <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        
        <div class="panel" style="top:0%">test</div>
        <h2 class="h">Insert Patient Details</h2>
       
        <form  action="/api/pats" method="post">
            <h5 class="h" style="top:20%">Patient Name</h5>
            <div>
                <input class="f form-group" style="top:28%" name="name">
            </div>
            <h5 class="h" style="top:35%">Patient diseased organ</h5>
            <div>
                <input class="f form-group" style="top:43%" name="Organ">
            </div>
            <button type="submit" class="btn btn-info" style="top:53%;left:40%" >submit</button>
        </form>
        
        <a type="button" class="btn fa fa-home" href="/front" style="top:3.5%; left:.5%" onclick="home()"></a>
      
        
        
    </Body>  
   
  
    </Html>  